.container {
    min-height: 80vh;
    width: 80%;
    margin: auto;
    display: grid;
    place-items: center;
    outline: 2px solid lime;
}
.hightlight {
    color: lime;
}
.outlineRed {
    padding: .5rem;
    outline: 1px solid red;
}